@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body, #app {
  font-family: 'Open Sans', sans-serif;
  background: #ece6d9;
}

@font-face {
  font-family: Botw;
  src: url('The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

h1 {
  font-family: Botw;
}