@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body, #app {
  font-family: 'Open Sans', sans-serif;
  background: #17456E;
}

@font-face {
  font-family: Botw;
  src: url('The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

h1 {
  font-family: Botw;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 1rem auto 2rem auto;
  Color: #CD9A32;
}